body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.main{
    background-image: url(./images/main-screen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 0.5%;
}
.main-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-head-image{
    width: 3%;
    height: 3%;
}
.main-head-titles{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-head-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.main-head-button{
    background-color: #7C6AFA;
    color: #FFF;
    border-radius: 22px;
    border-color: #7C6AFA;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.main-name{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    width: 55%;
    color: #FFF;
    margin: auto;
    margin-top: 6%;
}
.boxes{
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 23%;
    margin-top: 2%;
}
.box{
    width: 24%;
    height: 24%;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    opacity: 0.8;
}
.box-figure{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFF;
    text-align: center;
}
.box-word{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    text-align: center;
}
.main-foot{
    width: 100%;
    background-color: #121212;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-foot-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    background-color: #DF5950;
    width: 11%;
    height: 100%;
    border-radius: 22px;
    border-color: #DF5950;
    padding-top: 1%;
    padding-bottom: 1%; 
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 2%;
}
.things{
    width: 22%;
    display: flex;
    flex-direction: column;
}
.thing{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.dark{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #C4C4C4;
}
.light{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    margin-left: 2%;
}
.thing-line{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.red-line{
    width: 60%;
    background-color: #DF5950;
    border: 1px solid #DF5950;
}
.white-line{
    width: 40%;
    background-color: #FFF;
    border: 1px solid #FFF;
}
.thing-figures{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.do{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 8%;
}
.do-block{
    width: 28%;
    border: 33px solid #C89AFC;
}
.do-block-in{
    width: 88%;
    height: 88%;
    margin-top: 6%;
    margin-left: 6%;
}
.do-titles{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.do-big{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}
.do-little{
    width: 100%;;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
}
.start{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}
.start-first{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.start-first-image{
    width: 3%;
    height: 3%;
    margin-top: 3%;
    margin-left: 8%;
}
.start-first-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    margin-left: 2%;
}
.start-second{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
    margin-left: 8%;
}
.more{
    width: 84%;
    display: flex;
    flex-direction: column;
    margin: auto;       
    margin-top: 2%;
}
.more-words{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.more-word{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #FFF;   
}
.more-images{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.more-image-one{
    width: 25%;
    height: 100%;
}
.more-image-two{
    width: 25%;
    height: 100%;
    margin-top: 1%;
}
.more-image-three{
    width: 25%;
    height: 100%;
    margin-top: 2%;
}
.more-image-four{
    width: 25%;
    height: 100%;
    margin-top: 2.8%;
}
.more-titles{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%; 
}
.more-title{
    width: 22%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;   
}
.get-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;  
    text-align: center;
    margin-top: 8%;
}
.get-box{
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 6%;
}
.get-box-card{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.get-box-card-image{
    width: 22%;
    height: 22%;
    margin: auto;
}
.get-box-card-title{    
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #FFF;  
    text-align: center;
    margin-top: 11%;
}
.get-box-card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
    text-align: center;  
    margin-top: 2%;
}
.partner{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.partner-image{
    width: 4%;
    height: 4%;
    margin-top: 3%;
    margin-left: 8%;
}
.partner-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    margin-left: 2%;
}
.partner-logos{
    width: 88%;
    height: 88%;
    margin-left: 6%;
    margin-top: 3%;
}
.study{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 13%;
}
.study-image{
    width: 8%;
    height: 8%;
    margin: auto;
}
.study-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.study-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
    text-align: center;
}
.study-columns{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
}
.study-column-one{
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
.study-column-two{
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8%;     
    text-align: center;  
}
.study-line{
    width: 0.8%;
    height: 100%;
    padding-top: 70%;
    background-color: #C89AFC;
    border: 1px solid #C89AFC; 
}
.study-column-box-title{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;
    margin-top: 11%;
}
.study-column-box-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
}
.moderator{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
.moderator-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    margin-left: 2%;
}
.moderator-image{
    width: 4%;
    height: 4%;
    margin-top: 3%;
    margin-left: 8%;
}
.teachers{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 4%;
}
.teacher{
    width: 28%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.teacher-face{
    width: 50%;
    height: 80%;
    border-radius: 50%;
    margin: auto;
}
.teacher-name{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}
.teacher-job{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
}
.teacher-button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
    background-color: #000;
    width: 55%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 55px;
    margin: auto;
    margin-top: 4%;
}
.week{
    width: 100%;
    margin-top: 8%;
    margin-bottom: 4%;
}
.week-title{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.week-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C4C4C4;
    text-align: center;
}
.week-form{
    width: 44%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 18%;
    margin-top: 4%;
}
.week-form-fill{
    width: 33%;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    padding-left: 2%;
    border-radius: 55px;
    border: 1px solid #FFF;
    background-color: #000;
}
.week-form-fill::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.week-form-click{
    width: 18%;
    border-radius: 55px;
    border-color: #DF5950;
    background-color: #DF5950;
    color: #FFF;
    margin-left: 2%;
}
.logos{
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-top: 4%;
}
.logo{
    width: 11%;
    height: 100%;
    background-color: #7C6AFA;
    border-radius: 50%;
    border-color: #7C6AFA;
    padding-top: 3%;
}
.logo-image{
    width: 33%;
    height: 33%;
    margin-bottom: 22%;
    margin-left: 33%;
}